.retour-accueil a {
    text-decoration: none;
    color: #BF2C2C;
    font-size:1.2em;
}

.retour-accueil a.visited {
    text-decoration: none;
    color: #BF2C2C;
}

.retour-accueil a:hover {
    text-decoration: underline;
}

.retour-accueil {
    padding-left: 4%;
}

#container-pcp {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 50px;
}

.photo-pcp img {
    width: 350px;
    cursor: pointer;
}

.miniatures {
    display:none;
}

#fullscreen-container {
    display: none; /* Caché par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fond noir semi-transparent */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Au-dessus des autres éléments */
}

#fullscreen-image {
    width: 30%;
    height: 80%;
}

#close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.description {
    width: 100%;
    text-align: center;
    height: 40vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-tailles {
    width: 100%;
    display:flex;
    justify-content: center;
    gap: 10px;
}

.btn-tailles button {
    width: 90px;
    border: none;
    padding: 5px;
    background-color: rgb(235, 235, 235);
}

.btn-tailles button:hover{
    outline: solid 2px rgb(220, 220, 220);
}

#suggestions {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 100px;
}

.photos-suggestions {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 45px;
    margin-top: 40px;
}

footer {
    margin-top: 70px;
}

@media screen and (min-width: 1024px) {
    .miniatures {
        display:flex;
        height: 150px;
        justify-content: space-between;
    }

    #container-pcp {
        justify-content:center;
        display:flex;
        flex-direction: revert;
    }

    .description {
        width: 40%;
        margin-bottom: 15%;
    }
}