@import 'body_reset.css';





.messagerie_conversation_title {
    height: 10%;
    width: 100%;

    display: flex;
    align-items: center;
}

.messagerie_conversation_avatar {
    height: 50px;
    width: 20%;
    min-width: 50px;
}

.messagerie_conversation_avatar img {
    width: 40px;
    margin: 5px;
}

.messagerie_conversation_name {
    height: 100%;
    width: 80%;
}



.messagerie_menu {
    width: 20%;
    min-width: 160px;
    height: 90%;
}


.messagerie_main {
    height: 90%;
    max-height: 64vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 80%;
    max-width: 1000px;
    margin: auto;
}


/* Custom scrollbar styles */
.messagerie_main::-webkit-scrollbar {
    width: 12px;
    /* Width of the entire scrollbar */
}

.messagerie_main::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the scrollbar track */
    border-radius: 10px;
    /* Roundness of the scrollbar track */
}

.messagerie_main::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Roundness of the scrollbar thumb */
    border: 3px solid #f1f1f1;
    /* Space around the scrollbar thumb */
}

.messagerie_main::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar thumb when hovered */
}

.message {
    width: 80%;
    max-width: 460px;
    margin: 30px;
    padding: 20px 16px;
    border-radius: 10px;
    position: relative;
}

.message_received {
    background: #DFDEF3;
    margin-left: 5%;

}

.message_sent {
    background: #8883e2;
    margin-left: 15%;
}

.message:first-of-type {
    margin-top: 80px;
}


.message_time {
    position: absolute;
    right: 5px;
    bottom: 0;
    font-size: 0.8em;
}

.messagerie {
    width: 96vw;
    min-width: 450px;
    max-width: 1200px;
    max-height: 76vh;
    margin: 50px auto;
    display: flex;
    flex-wrap: nowrap;
}

.messagerie h2 {
    position: fixed;
    background: white;
    width: 100%;
    z-index: 20;
}

.messagerie_input_text {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 96%;
    height: 50px;
    background: white;
    max-width: 900px;
    font-size: 1.2em;


}

.messagerie_input_text input {
    width: calc(100% - 150px);
    padding: 5px;
    height: 40px;
    border: none;
    box-shadow: 0px 0px 2px black;
    border-radius: 4px;
    text-align: center;
}

.messagerie_input_text input[type="submit"] {
    width: 100px;
    background: #DFDEF3;
    border-radius: 4px;

}

.messagerie_input_text input[type="submit"]:hover {
    background: #8883e2
}

.messagerie_input_text input:focus {
    outline: none;
}