/* CLEAN CSS */
@import "body_reset.css";
/* FONTS */
@import "fonts.css";

/*DEBUG*/
#debug {
    width: 100vw;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(255, 0, 0, 0.5);
}

/*HEADER*/

/*NAV*/
nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: blue;
    position: relative;
    z-index: 250;
}

#menuBurgerIcon {
    padding: 0px 8px;
    font-size: 2em;
}

ul#menuBurger {
    position: absolute;
    left: 0;
    width: 100vw;
    height: auto;
    background: rgba(255, 0, 0, 0.8);
    text-align: center;
    z-index: 100;
    transition: top 1s;
}

ul.menu {
    list-style: none;
}

#menuBurgerIcon {
    cursor: pointer;
    line-height: 50px;
    transition: transform 1s;
}

.rotateIcon {
    transform: rotate(90deg);
}

.hideMenuBurger {
    top: -800px;
}

.showMenuBurger {
    top: 50px;
}

#userMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#userMenu img {
    width: 30px;
    margin: 4px;
}


/*LOGIN.PHP*/
.login-body{
    background-image: url(/img/temporaire/model-image-login.jpg);
    background-position: left 20% top 25%;
}